<h3 class="title"><%= t('about_title') %></h3>

<iframe width="854" height="480" src="https://www.youtube.com/embed/bRGyQPLxSSc" frameborder="0" allowfullscreen></iframe>
<p class="desc"><%= t('about_desc') %></p>